@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .dashboard-heading {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 35px;
    color: var(--color2);
  }
  
  .status-headings {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .status-heading {
    font-family: "Nunito";
    margin-bottom: 20px;
    width: 300px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 25px;
    text-align: center; 
  }
  
#to-do {
    background-color: #72394a;
    color: var(--color5);
}

#in-progress {
    background-color: #2b325e;
    color: var(--color5);
}

#done {
    background-color: #2f5c2c;
    color: var(--color5); 
}

  .cards-container {
    display: flex;
  }

  .to-do-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px 20px;
  }

  .in-progress-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px 20px;
    align-items: center;
  }

  .done-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px 20px;
    align-items: center;
  }

  .card-container .card-heading {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  .card-container .card-text {
    margin: 0;
    font-size: 16px;
  }
  
  .see-activity-link {
    text-decoration: none;
    color: var(--color2);
  }

  .see-activity-link:visited {
    color: var(--color3);
  }

  .no-activities-message {
    font-family: var(--main-font);
    color: var(--color3);
  }