@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

.register-activity-outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.register-activity-inner-container{
    width: 50%;
}
.h1-title {
    color: var(--color2);
    font-family: var(--main-font);
    padding-bottom: 15px;
}
.register-activity-form {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
    margin: 30px;
    background-color: var(--color5);
    padding: 40px;
    border-radius: 30px;
    color: var(--color2);
    font-weight: 600;
}

.form-first-section {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 150px;
    flex-wrap: wrap;
}

.form-section-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-left: 15px;
    align-items: center;
}

.priority-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-goals-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 250px;
}

.username {
    margin-left: 15px;
    margin-bottom: 10px;
}

.activity-description-section {
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-self: center;
    align-items: center;
}

.txtarea-desc {
    width: 400px;
    height: 100px;
    border-radius: 20px;
    padding: 10px;
    font-size: 16px;
    font-family: var(--main-font);
    color: var(--color1);
    resize: none;
    border: none;
}

.txtarea-title {
    width: 300px;
    height: 25px;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    font-family: var(--main-font);
    color: var(--color1);
    resize: none;
    border: none;
}

.form-section-heading {
    font-size: 18px;
    margin-bottom: 5px;
}

.radio-btn-prior,
.radio-btn-help {
    display: flex;
    flex-direction: column;
    font-weight: 400;
}

.label-mrg {
    margin-bottom: 20px;
}

.btn-submit {
    padding: 13px;
    width: 180px;
    border-radius: 10px;
    border-style: none;
    background-color: var(--color2);
    color: var(--color5);
    font-weight: 700;
    font-family: var(--main-font);
    font-size: 20px;
    align-self: center;
}

.btn-submit:hover{
    background-color: var(--color3);
}

.h3-text {
    font-weight: 100;
}